.App {
    height: 100vh;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

body {
    min-height: 100vh;
    background-image: url("./img/Font.png");
    background-position: center;
    background-size: contain;
    background-color: rgba(26, 0, 97, 0.8);
}
