.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-logo {
        width: max-content;
        cursor: pointer;
        padding: 1em;
        display: flex;

        h1 {
            color: #fff;
            margin: 0;

            span {
                &:nth-child(1) {
                    color: #662FFF;
                }
                &:nth-child(2) {
                    color: #33C19D;
                }
            }
        }
    }

    &-nav {
        display: flex;
        max-height: max-content;
        padding: 1em;
    }
}
