.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    width: 100%;

    &-logo {
        width: max-content;
        cursor: pointer;
    }

    &-nav {
        display: flex;
        margin-right: 2em;
        max-height: max-content;
    }
}