.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &-logo {
        width: max-content;
        cursor: pointer;
        padding: 1em;
    }

    &-nav {
        display: flex;
        max-height: max-content;
        padding: 1em;
    }
}